.page-head {
  background: lavenderblush !important;
}

body {
  color: blue;
}

.ce-block__content {
  padding: 0px !important;
  /* background: lightblue !important; */
}
.frappe-control {
  padding: 5px !important;
}
